/*.sidebar {*/
/*    height: 100%;*/
/*    width: 0;*/
/*    position: fixed;*/
/*    z-index: 1001;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #333;*/
/*    overflow-x: hidden;*/
/*    transition: 0.5s;*/
/*    padding-top: 60px;*/
/*    color: white;*/
/*    opacity: 0.6; !* Начальная полупрозрачность *!*/
/*    overflow-y: scroll; !* Добавлено для вертикальной прокрутки *!*/
/*}*/

/*.sidebar:hover {*/
/*    opacity: 1;*/
/*}*/
/*.sidebar form {*/
/*    margin: 20px;*/
/*}*/

/*!*.sidebar input,*!*/
/*!*.sidebar textarea,*!*/
/*!*.sidebar select,  !* Добавлено для выпадающих списков *!*!*/
/*!*.sidebar button {*!*/
/*!*    display: block;*!*/
/*!*    width: 100%;*!*/
/*!*    margin: 5px 0; !* Уменьшен отступ *!*!*/
/*!*    padding: 8px; !* Уменьшен padding *!*!*/
/*!*    background: #555;*!*/
/*!*    border: none;*!*/
/*!*    color: white;*!*/
/*!*}*!*/

/*.sidebar input,*/
/*.sidebar textarea,*/
/*.sidebar select,*/
/*.sidebar option,*/
/*.sidebar button {*/
/*    display: block;*/
/*    width: calc(100% - 20px); !* Учитываем padding *!*/
/*    margin: 5px 0; !* Уменьшен отступ *!*/
/*    !* Отступ справа *!*/
/*    padding: 8px 10px 8px 8px;*/
/*    background: #555;*/
/*    border: none;*/
/*    color: white;*/
/*}*/

/*.sidebar button {*/
/*    background: #444;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.sidebar button:hover {*/
/*    background: #555;*/
/*}*/
/*.closebtn {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 25px;*/
/*    font-size: 36px;*/
/*    margin-left: 50px;*/
/*    cursor: pointer;*/
/*}*/
/*#resultsContainer {*/
/*    margin-top: 70px; !* Отступ для учета фиксированного хедера *!*/
/*    padding: 20px;*/
/*}*/


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    opacity: 0.6; /* Начальная полупрозрачность */
    overflow-y: scroll; /* Добавлено для вертикальной прокрутки */
}

.sidebar:hover {
    opacity: 1;
}

.sidebar form {
    margin: 20px;
}

.sidebar input,
.sidebar textarea,
.sidebar select,
.sidebar button {
    display: block;
    width: calc(100% - 20px); /* Учитываем padding */
    /* Уменьшен отступ */
    margin: 5px 5px 5px 0;
    padding: 8px 10px; /* Уменьшен padding */
    background: #555;
    border: none;
    color: white;
    box-sizing: border-box; /* Учитываем padding внутри width */
}

.sidebar select,
.sidebar button {
    padding: 8px 10px; /* Уменьшен padding для селектов и кнопок */
    background: #555;
    border: none;
    color: white;
    box-sizing: border-box; /* Учитываем padding внутри width */
}

.sidebar button {
    background: #444;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background: #555;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

#resultsContainer {
    margin-top: 70px; /* Отступ для учета фиксированного хедера */
    padding: 20px;
}
