.header-container {
    width: 100%;
    height: 60px; /* Высота хедера */
    background-color: #555; /* Темно-серый цвет для хедера */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Вертикальное выравнивание */
    position: fixed; /* Фиксированное положение, чтобы хедер всегда был наверху */
    top: 0;
    left: 0;
    transition: opacity 0.3s; /* Плавное изменение прозрачности */
    opacity: 0.6; /* Начальная полупрозрачность */
    z-index: 1000; /* Убедитесь, что хедер всегда находится поверх других элементов */
}

.header-container:hover {
    opacity: 1; /* Непрозрачный при наведении */
}

.header-container .left-buttons,
.header-container .right-buttons {
    display: flex;
    align-items: center;
}

.header-container button {
    margin: 0 10px; /* Отступ между кнопками */
    padding: 8px 16px; /* Внутренние отступы */
    background-color: #444; /* Темно-серый цвет для кнопок */
    color: white; /* Цвет текста */
    border: 1px solid transparent; /* Убрать видимую границу, добавить для фокуса, если необходимо */
    cursor: pointer; /* Курсор в виде руки */
    transition: background-color 0.3s; /* Плавное изменение цвета кнопки при наведении */
    border-radius: 5px;
}

.header-container button:hover {
    background-color: #333; /* Более темный оттенок серого при наведении */
}

#documentsButton, #usersButton {
    margin-left: 10px; /* Отступ от левого края для первой кнопки */
}

#registerButton, #authButton {
    margin-right: 10px; /* Отступ от правого края для последней кнопки */
}


