.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    opacity: 0.6;
    overflow-y: scroll;
}

.sidebar:hover {
    opacity: 1;
}

.sidebar form {
    margin: 20px;
}

.sidebar input,
.sidebar textarea,
.sidebar select,
.sidebar button {
    display: block;
    width: calc(100% - 20px);
    margin: 5px 5px 5px 0;
    padding: 8px 10px;
    background: #555;
    border: none;
    color: white;
    box-sizing: border-box;
}

.sidebar select,
.sidebar button {
    padding: 8px 10px;
    background: #555;
    border: none;
    color: white;
    box-sizing: border-box;
}

.sidebar button {
    background: #444;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background: #555;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

#resultsContainer {
    margin-top: 70px;
    padding: 20px;
}
